/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{ 
    max-width: 100%;
}

body{
    font-family: 'Advent Pro', sans-serif;
}

DEBUG
{
    border: 2px solid black;
    padding: 10px
}

/* HEADER */

.page-header, .page-main{
    max-width: 1920px;
    margin: 0 auto;
    padding: 10px;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.links > ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.button{
    border: none;
    color: white;
    background-color: rgb(0, 97, 255);
    padding: 5px;
}


/* MAIN */

.main-content{
    background-color: rgb(179, 208, 232);
}

.main-container{
    max-width: 1200px;
    margin: 0 auto;
}

.main-title{
    font-size: 95px;
}

.main-nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.main-nav{
    display: flex;
}

.main-freetrial{
    flex-basis: calc(100% / 3)
}

.margin-btm{
    margin-bottom: 90px;
}

.arrow-size{
    font-size: 70px;
}

