/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{ 
    max-width: 100%;
}

body{
    font-family: 'Advent Pro', sans-serif;
}


/* HEADER */

.page-header,
.page-main{
    max-width: 1920px;
    margin: 0 auto;
}

.page-header{
    padding: 10px;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.links > ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.button{
    border: none;
    color: white;
    background-color: rgb(0, 97, 255);
    padding: 10px;
    font-size: 15px;
}


/* MAIN */

    /* First Section */
.hero-content{
    background-color: rgb(179, 208, 232);
}

.hero-container{
    max-width: 1200px;
    margin: 0 auto;
}

.hero-title{
    font-size: 95px;
    padding: 50px 0;
}

.hero-nav{
    display: flex;
}

.col-4{
    width: calc(4 * 100% / 12);
}

.margin-btm{
    margin-bottom: 70px;
}

.arrow-size{
    font-size: 70px;
}

.hero-img{
    width: 100%;
}


/* Second Section */

.main-section,
.partner-section,
.business-card-section,
.business-section,
.school-section,
.faq-section,
.links-section{
    margin-top: 100px;
}

.main-radio-button{
    padding-top: 50px;
    margin-bottom: 100px;
}

.main-container{
    max-width: 1020px;
    margin: 0 auto;
}

.margin-rgt{
    margin-right: 50px;
}

.pad{
    padding: 0 20px;
}

.row{
    display: flex;
    flex-wrap:wrap;
}

.card{    
    height: 100%;
}

.border{
    border: 1px solid rgb(229, 229, 231);
}

.border-btm{
    border-bottom: 1px solid rgb(229, 229, 231) ;
}

.card-header{
    text-align: center;
    padding: 10px 0;
}

.card-section{
    padding: 10px 35px;
}

.col-12{
    width: 100%;
    margin-top: 30px;
}

.card-section-title > *{
    padding: 5px 0;
}

.icon{
    display: flex;
}

.icon > *{
    padding: 5px 3px;
}

.w-100{
    width: 100%;
}

.decoration-link{
    text-decoration: underline;
    color: blue;
}

.card-section-list::after{
    content: ' ';
    display: block;
    width: 40px;
    margin: 40px 0;
    background-color: rgb(229, 229, 231);
    height: 1px;
}

.blue-check{
    color:  rgb(0, 97, 255);
}

.card-body{
    display: flex;
}

.pad-35{
    padding: 20px 35px;
}

.pad-20{
    padding: 20px;
}


/* Third Section */

.pad-30{
    padding: 30px;
}

.col-4_title{
    margin-top: 50px;
}

.col-4_title > p{
    margin-top: 30px;
}

.col-8{
    flex-basis: calc(8 * 100% / 12);
}

.partner-button{
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 15px;
    margin-top: 30px;
}


/* Fourth Section */

.card-content p{
    padding-top: 20px;
}


/* Sixth Section */

.page-school-section{
    max-width: 1920px;
    margin: 0 auto;
}

.col-6{
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.green{
    border: 15px solid rgb(208, 233, 206);
    background-color: rgb(162, 211, 155);
}

.filter-white{
    width: 50%;
    filter: invert(100%);
}

.bloody{
    background-color: rgb(97, 8, 43);
}

.petrol{
    background-color: rgb(0, 147, 206);
}

.red{
    background-color: rgb(255, 28, 28);
}

.central-col{
    background-color: rgb(245, 245, 245);
    padding: 25px;
}

.w-50{
    width: 50%;
}

.designit::after{
    content: ' ';
    display: block;
    margin: 15px 0;
    width: 104px;
    background-color: black;
    height: 1px;
}

.pad-tb{
    padding: 10px 0;
}

.cyan-gray{
    background-color: rgb(179, 208, 232);
}

.blue{
   background-color: rgb(13, 36, 129);
}

.pikachu{
    background-color: rgb(255, 216, 49);
}


/* Seventh Section */

.bring-in-section{
    padding: 100px 0;
}

.ai-center{
    align-items: center;
}

.font-bloody{
    color: rgb(97, 8, 43);
}

.business-button{
    border: none;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 15px;
}


/* Eighth Section */

.jc-pad{
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.pad-50{
    padding: 50px 0;
}

.col-10{
    width: calc(8 * 100% / 12);
}

.margin-20{
   margin-right: 20px; 
}

.size-sm{
    font-size: small;
}


/* FOOTER */

.links-section{
    background-color: black;
    padding-top: 50px;
    color: white;
}

.jc-sb{
    justify-content: space-between;
}

.margin-btm20{
    margin-bottom: 20px;
}

.col-1_5 > *{
    line-height: 1.7em;
}

.languages-line::before{
    content: ' ';
    display: block;
    margin-top: 100px;
    width: 100px;
    background-color: rgb(229, 229, 231);
    height: 1px;
}